<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.master.fragmentactivitycommunication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch_my"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--测试主界面/作者：胡凡-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".adapterviewtest.ExpandableListActivityTest"
            android:label="查看星际兵种"/>
        <activity android:name=".adapterviewtest.PreferenceActivityTest"
            android:label="设置程序参数"/>
        <activity android:name=".activity2fragment.ActivityTest"/>
        <activity android:name=".sdkfragment.ActivityTest"/>
        <activity android:name=".activity2activity.FirstActivity"/>
        <activity android:name=".activity2activity.SecondActivity"/>
        <activity android:name=".activity2activity.ThirdActivity"/>
        <activity android:name=".adapterviewtest.SpinnerTest"/>
        <activity android:name=".adapterviewtest.AdapterViewFlipperTest"/>
        <activity android:name=".adapterviewtest.StackViewTest"/>
        <activity android:name=".viewanimatortest.ViewSwitcherTest"/>
        <activity android:name=".sqlitePractice.InsertData"/>
    </application>

</manifest>